<div class="wrapper clearfix">

  <div id="intro" class="blackbox">

      <h3>Hitchwiki Hackathon</h3>
      <br>
      <h4>
        We will work on a new Hitchwiki for 5-8 weeks in Turkey.
      </h4>
      <p>
         <em>Help us cover our expenses.</em>
      </p>

      <div id="share" class="clearfix">
        <div id='tweet_button_container'>
          <%= tweet_button %>
        </div>
        <div id='facebook_button_container'>
          <%= like_button(450, true) %>
        </div>
      </div>
      <%= render 'preorder/share/twitter_js' %>
      <%= render 'preorder/share/facebook_js' %>
  </div>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.backers, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
      <li class="stats">
        <%= number_to_currency Order.revenue, unit: '€', :precision => 0 %>
        <span>of <%= number_to_currency Settings.project_goal.to_f, unit: '€', :precision => 0 %></span>
      </li>
    </ul>

    <% if Order.revenue.to_f < Order.goal.to_f %>
      <div id='progress_bg' class='small'>
        <div id='progress' class='' style='width: <%= Order.percent %>%;'>
        </div>
      </div>
    <% else %>
      <div id="progress_bg">
        <div id="progress">
        </div>
        <div id='progress_text'><%= Order.percent %>% <%= Settings.progress_text %></div>
      </div>
    <% end %>

    <div id="reserve_container">
      <a href="/preorder/checkout" class="blue_button reserve"><%= Settings.call_to_action %></a>
      <p id="note">
        Bank transfers, bitcoins & credit cards.
        <br><br>
          Note that the donation bar is updated manually for anything other than credit cards, so it might take a short while before your donation shows up.
      </p>
    </div>

  </div>

</div>
