<div class="wrapper clearfix">
  <!--
  <div id="video">
    <div class="embed-responsive embed-responsive-4by3">
      <% if Settings.use_video_placeholder %>
        <div id="video_image">
          <img alt="video_place_holder" class="embed-responsive-item" src="/assets/video_placeholder.png" />
        </div>
      <iframe id="player" style="display: none;" class="embed-responsive-item" src="<%= Settings.video_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=1" allowfullscreen></iframe>

      <% else %>
      <iframe class="embed-responsive-item" src="<%= video_url %>" allowfullscreen></iframe>
      <% end %>
    </div>
  </div>
  -->

  <div id="intro" class="blackbox">

      <h3>Hitchwiki Hackathon</h3>
      <br>
      <h4>
        We will work on new Hitchwiki for 5-8 weeks in Turkey.
      </h4>
      <p>
         <em>Help us cover our expenses.</em>
      </p>

      <div id="share" class="clearfix">
        <div id='tweet_button_container'>
          <%= tweet_button %>
        </div>
        <div id='facebook_button_container'>
          <%= like_button(450, true) %>
        </div>
      </div>
      <%= render 'preorder/share/twitter_js' %>
      <%= render 'preorder/share/facebook_js' %>
  </div>

  <div id="backing">
    <ul>
      <li class="stats" id="backers">
        <%= number_with_delimiter Order.backers, :delimiter => "," %>
        <span><%= Settings.primary_stat %></span>
      </li>
      <li class="stats">
        <%= number_to_currency Order.revenue, unit: '€', :precision => 0 %>
        <span>of <%= number_to_currency Settings.project_goal.to_f, unit: '€', :precision => 0 %></span>
      </li>

      <% if Settings.expiration_date.present? %>
        <li class="stats" id="days">
          <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
          <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
        </li>
      <% else %>
        <li class="stats" id="days">
            &infin;
            <span>days left</span>
          </li>
      <% end %>
    </ul>

    <% if Order.revenue.to_f < Order.goal.to_f %>
      <div id='progress_bg' class='small'>
        <div id='progress' class='' style='width: <%= Order.percent %>%;'>
        </div>
      </div>
    <% else %>
      <div id="progress_bg">
        <div id="progress">
        </div>
        <div id='progress_text'><%= Order.percent %>% <%= Settings.progress_text %></div>
      </div>
    <% end %>

    <div id="reserve_container">
      <!--<p id="ship_date"><%= Settings.ships %></p>-->
      <a href="/preorder/checkout" class="blue_button reserve"><%= Settings.call_to_action %></a>
      <p id="note">
        Bank transfers, bitcoins & credit cards.
        <br><br>
        Note that the donation bar is updated manually for other than credit cards and it might take a short while before your donation shows up.
      </p>
    </div>

  </div>

</div>
