<% if Settings.payment_processor == "stripe" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <script>
    Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLIC_KEY'] || Settings.stripe_public_key %>")
  </script>
<% end %>

<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">

      <h3>Donate</h3>

      <p>
        Donations are going via <a href="http://www.abgefahren-ev.de/">Abgefahren e.V.</a> — a german hitchhiking club and a registered nonprofit behind Hitchwiki.org.
        <br><br>
        You can choose between 3 methods:
      </p>

      <br><br>

      <div class="payment-creditcard">

        <h4>Credit cards</h4>

        <small class="payment-description">
          <% if Settings.payment_processor == "stripe" %>
           <p>
             Payment processor will take 2.9% + 30c from donation sum so do this only if you can't do EU bank transfer, please. All of your payment information will be secured and stored with <a href="https://stripe.com/de">Stripe</a>.
             <br><br>
             <small>Cards: Visa, MasterCard, or American Express.</small>
           </p>

          <% else %>
           <p>All of your payment information will be secured and stored with Amazon Payments. If you don't have an Amazon account, simply select "I'm a new Customer" on the next page.</p>
          <% end %>
        </small>

        <%
        if Settings.payment_processor == "stripe"
          details = "details"
        else
          details = "email address"
        end
        %>
        <% if Settings.use_payment_options %>
          Select a payment option and enter your <%= details%> below.
        <% else %>
          Enter your <%= details%> below.
        <% end %>

      </p>
      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
        <%= render 'preorder/payment_options' %>
        <div class="checkout_controls clearfix">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">

              <%= number_field_tag "price", nil, :min => 1, :size => 5, :step => "any", :placeholder => "Sum, eg. 10", :required => "required", :id => "price" %> €

              <%= email_field_tag "email", nil, :placeholder => "Email address", :required => "required", :id => "email" %>
              <% if Settings.payment_processor == "stripe" %>
                <%= text_field_tag "card_number", nil, :placeholder => "Card Number", :required => "required", :id => "card_number" %>
                <%= text_field_tag "cvv", nil, :placeholder => "CVV", :required => "required", :id => "cvv" %>
                <div class="expires">
                Expires: <%= select_tag "expires_month", options_for_select( 01.upto(12).to_a , "01"), :required => "required", :id => "expires_month" %>
                /
                <%= select_tag "expires_year", options_for_select( 2014.upto(2029).to_a , "2014"), :required => "required", :id => "expires_year" %>
                </div>
                <%= hidden_field_tag :stripe_token %>
                <%= submit_tag "Donate", :class => "blue_button", :id => "checkout_button" %>
                <div id="checkout_loading">Wait...</div>
              <% else %>
                <%= hidden_field_tag "preorder", true %>
                <%= hidden_field_tag "quantity", params[:quantity] %>
                <%= submit_tag "Donate", :class => "blue_button disabled", :id => "checkout_button" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <br />
      <div id="payment_errors">
        Something went wrong, please check all your details are correct.
        <br />
        <span id="payment_errors_info" />
      </div>

    </div>
    <!-- /Credit card -->

  <div class="payment-sepa">
    <h4>Bank transfer (SEPA)</h4>
    <p>
      <small class="payment-description">
        Easiest option for Europeans.
        <br>
        It's an euro account in German bank.
      </small>

      <span class="numberlines">
        IBAN: <span class="numbers">DE48430609671168211500</span><br>
        BIC/Swift: <span class="numbers">GENODEM1GLS</span><br>
      </span>

      <small class="payment-description">
        <br>
        <em>Please note that it'll take a couple of days for these to register and become visible at the donation bar.</em>
      </small>

    </p>
  </div>
  <!-- /SEPA -->

  <div class="payment-bitcoin">
    <h4>Bitcoins</h4>
    <p>
      <span class="numberlines">
        BTC: <span class="numbers"><small>1DYc4v98AmQMrXyhsoXUnY2koqD4UKehkK</small></span><br>
        LTC: <span class="numbers"><small>LTRoWo1NmSn8CNRTk7No82QmDsJZZk5Nqk</small></span><br>
      </span>
      <br>
      <a href="#" id="show_more_coins"><small>&raquo; Some more obscure coins</small></a>
      <div class="numberlines" id="more_coins">
        FRC: <span class="numbers"><small>1KMmztxmph2Cr3yWxzEivCDEZAfdCKrDJ7</small></span><br>
        FTC: <span class="numbers"><small>6oM5qqgbcCqnWucQiSzWmDAuBiWetJ6sjQ</small></span><br>
        MEC: <span class="numbers"><small>MM3zDohPvBzYMq4Q3YjfSfW9u4Yskr59Yx</small></span><br>
        NMC: <span class="numbers"><small>N3EdwbiifM3oug23J5LF6V4EgR2ASeZWGL</small></span><br>
        PPC: <span class="numbers"><small>PX1XgjcGGVQVUhqtJMJJcbKN88RmbJYzZa</small></span><br>
        PTS: <span class="numbers"><small>Pk4AG377uq4aV6cKtzeTjBnRs5Y5YLEZuz</small></span><br>
        XPM: <span class="numbers"><small>APC79uL2ckUxyVU1qQnDmTZCxbU4Um21Qj</small></span><br>
      </div>

      <small class="payment-description">
        <br>
        <em>Please note that it'll take a couple of days for these to register and become visible at the donation bar. You can double-confirm addresses <a href="http://hitchwiki.org/en/Hitchwiki:Coin_donations">from Hitchwiki</a>.</em>
      </small>
    </p>

  </div>
  <!-- /Bitcoins -->

  </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper">
    <div class="point_copy full">
        <a href="/">Read more about the campaign...</a>
    </div>
  </div>
</div>
