<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= Settings.product_name %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= Settings.share_text %>">
    <meta property="fb:app_id" content="139879862696959">
    <meta property="og:site_name" content="<%= Settings.product_name %>">
    <meta property="og:title" content="<%= Settings.product_name %>">
    <meta property="og:description" content="<%= Settings.share_text %>">
    <meta property="og:url" content="<%= encoded_root_url %>">
    <meta property="og:image" content="http://hitchwiki.org/en/images/en/5/52/Hw-sticker-7x7cm%2B2mm-bleed.jpg">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="<%= Settings.product_name %>">
    <meta name="twitter:description" content="<%= Settings.share_text %>">
    <meta name="twitter:url" content="<%= encoded_root_url %>">
    <meta name="twitter:image" content="http://hitchwiki.org/en/images/en/5/52/Hw-sticker-7x7cm%2B2mm-bleed.jpg">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin-ext,latin,cyrillic,greek" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="http://hitchwiki.org/favicon.png" type="image/png" />
    <link rel="bookmark icon" href="http://hitchwiki.org/favicon.png" type="image/png" />
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <%= render 'preorder/header' %>
    <%= yield %>
    <%= render 'preorder/footer' %>
  </body>
</html>
