<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= Settings.product_name %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= Settings.share_text %>">
    <meta property="fb:app_id" content="139879862696959">
    <meta property="og:site_name" content="<%= Settings.product_name %>">
    <meta property="og:title" content="<%= Settings.product_name %>">
    <meta property="og:description" content="<%= Settings.share_text %>">
    <meta property="og:url" content="<%= encoded_root_url %>">
    <meta property="og:image" content="<%= encoded_root_url[0..-1] %><%= asset_path("lisbon-roof.jpg") %>">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="<%= Settings.product_name %>">
    <meta name="twitter:description" content="<%= Settings.share_text %>">
    <meta name="twitter:url" content="<%= encoded_root_url %>">
    <meta name="twitter:image" content="<%= encoded_root_url[0..-1] %><%= asset_path("lisbon-roof.jpg") %>">
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link rel="shortcut icon" href="<%= asset_path("favicon.png") %>" type="image/png" />
    <link rel="bookmark icon" href="<%= asset_path("favicon.png") %>" type="image/png" />
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Open+Sans::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->
    <%= render 'preorder/header' %>
    <%= yield %>
    <%= render 'preorder/footer' %>
  </body>
</html>
